postgress supabase password:
postgress supabase user:

supabase local address :

supabase proj id:


supabase apikey pub:


miget uuid:

migetcodename:


miget proj uuid:

miget url:

migetdb url:

private key:
