postgress supabase password:
postgress supabase user:

supabase local address :

supabase proj id:


supabase apikey pub:


miget uuid:

migetcodename:


miget proj uuid:

miget url:

migetdb url:

supabase local address 2:

supabase proj id 2:

supabase apikey pub 2:

private key:
